<% @shops.each do |shop| %>
<div class="card text-white bg-dark mb-3 text-center" style="max-width: 22rem;">
  <div class="card-body">
    <h5 class="card-title"><%= shop.name %></h5>
    <p class="card-text">Score : <%= shop.score %></p>
    <a href="<%= shop.url %>" class="stretched-link "></a>
  </div>
</div>
<% end %>